[% extends "base.html" %]

[% block content %]
<h1 class="title">[[ _('Hi, %(name)s!', name=current_user.name) ]]</h1>

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="[[ url_media(current_user.file_name, '200x200xc') ]]" alt="[[ current_user.name ]]">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <div>
        <strong>[[ current_user.name ]]</strong><br>
        [% if current_user.self_introduction %]<p>[[ current_user.self_introduction ]]</p>[% endif %]
        [% if current_user.last_access %]<small>[[ _('Last seen on') ]]: [[ current_user.last_access ]]</small>[% endif %]
      </div>
       <p><a href="[[ url_for('member.edit_profile') ]]"><i class="fas fa-edit"></i>[[ _('Edit your profile') ]]</a></p>
    </div>
  </div>
</article>
[% endblock %]
