//@import '../../node_modules/bulma/sass/utilities/_all.sass';
///* set variables     */
//
///* set variables end */
//@import '../../node_modules/bulma/sass/base/minireset.sass';      // リセットしないとグリッドが崩れる
//@import '../../node_modules/bulma/sass/grid/columns.sass';        // グリッド
//@import '../../node_modules/bulma/sass/elements/container.sass';  // コンテナの定義
//@import '../../node_modules/bulma/sass/base/helpers.sass';        // `is-hidden-mobile` などの便利クラス
//@import '../../node_modules/bulma/sass/components/navbar.sass';   // ハンバーガーメニューなど
//
////@import 'css/layout';
////@import 'css/font';

// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

//// 2. Set your own initial variables
$navbar-height: 40px;
//// Update blue
//$blue: #72d0eb;
//// Add pink and its invert
//$pink: #ffb3b3;
//$pink-invert: #fff;
//// Add a serif family
//$family-serif: "Merriweather", "Georgia", serif;
//
//// 3. Set the derived variables
//// Use the new pink as the primary color
//$primary: $pink;
//$primary-invert: $pink-invert;
//// Use the existing orange as the danger color
//$danger: $orange;
//// Use the new serif family
//$family-primary: $family-serif;
//
//// 4. Setup your Custom Colors
//$linkedin: #0077b5;
//$linkedin-invert: findColorInvert($linkedin);
//$twitter: #55acee;
//$twitter-invert: findColorInvert($twitter);
//$github: #333;
//$github-invert: findColorInvert($github);
//
//// 5. Add new color variables to the color map.
//@import "../../node_modules/bulma/sass/utilities/derived-variables";
//$addColors: (
//  "twitter":($twitter, $twitter-invert),
//  "linkedin": ($linkedin, $linkedin-invert),
//  "github": ($github, $github-invert)
//);
//$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma and Buefy
@import "../../node_modules/buefy/src/scss/utils/_all";
@import "../../node_modules/bulma";
//@import "../../node_modules/buefy";
//@import "../../node_modules/buefy/src/scss/components/_autocomplete";
//@import "../../node_modules/buefy/src/scss/components/_checkbox";
//@import "../../node_modules/buefy/src/scss/components/_collapse";
//@import "../../node_modules/buefy/src/scss/components/_datepicker";
//@import "../../node_modules/buefy/src/scss/components/_dialog";
//@import "../../node_modules/buefy/src/scss/components/_dropdown";
//@import "../../node_modules/buefy/src/scss/components/_form";
//@import "../../node_modules/buefy/src/scss/components/_icon";
@import "../../node_modules/buefy/src/scss/components/_loading";
//@import "../../node_modules/buefy/src/scss/components/_message";
//@import "../../node_modules/buefy/src/scss/components/_modal";
//@import "../../node_modules/buefy/src/scss/components/_notices";
//@import "../../node_modules/buefy/src/scss/components/_pagination";
//@import "../../node_modules/buefy/src/scss/components/_panel";
//@import "../../node_modules/buefy/src/scss/components/_radio";
//@import "../../node_modules/buefy/src/scss/components/_select";
//@import "../../node_modules/buefy/src/scss/components/_switch";
//@import "../../node_modules/buefy/src/scss/components/_table";
//@import "../../node_modules/buefy/src/scss/components/_tabs";
//@import "../../node_modules/buefy/src/scss/components/_tag";
//@import "../../node_modules/buefy/src/scss/components/_taginput";
//@import "../../node_modules/buefy/src/scss/components/_timepicker";
//@import "../../node_modules/buefy/src/scss/components/_tooltip";
//@import "../../node_modules/buefy/src/scss/components/_upload";

@import "./flaskbird.scss";
