.container {
  .columns {
    margin: 1rem 0;
  }
}

ul.c-horizontal,
dl.c-horizontal {
  li, dt, dd {
    display: inline;
    list-style-type: none;
  }
  li, dt, dd {
    padding-right: 1rem;
  }
  dt {
    font-weight: bold;
    padding-right: 0.25rem;
  }
}

button {
  > .fas {
    margin-right: 0.25rem;
  }
}

#navbar-member-desktop {
  .modal-card {
    width: 300px;
  }
}

.u-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
