<!DOCTYPE html>
<html lang="[[ g.locale ]]" class="has-navbar-fixed-top">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  [% if title %]
  <title>[[ title ]] | microblog</title>
  [% else %]
  <title>microblog</title>
  [% endif %]
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="[[ url_static('css/common.css') ]]">
    [% block post_header %][% endblock %]
    <link rel="shortcut icon" href="">
</head>
<body>
<div id="container">
<nav class="navbar is-fixed-top is-light">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" href="[[ url_for('site.index') ]]">
        Microblog
      </a>
      <div class="navbar-burger burger" data-target="nav-head-global">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" id="nav-head-global">
      <div class="navbar-start">
        <a class="navbar-item" href="[[ url_for('site.index') ]]">[[ _('Top') ]]</a>
        <a class="navbar-item" href="[[ url_for('site.members') ]]">[[ _('Members') ]]</a>
[% if current_user.is_authenticated %]
        <a class="navbar-item" href="[[ url_for('member.index') ]]">[[ _('Home') ]]</a>
        <a class="navbar-item" href="[[ url_for('member.logout') ]]">[[ _('Logout') ]]</a>
[% else %]
        <a class="navbar-item" href="[[ url_for('member.login') ]]">[[ _('Login') ]]</a>
[% endif %]
      </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=http://localhost:4000&amp;via=jgthms">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>
                Tweet
              </span>
            </a>
          </p>
          <p class="control">
            <b-dropdown>
              <button class="button is-primary" slot="trigger">
                  <span>Click me!</span>
                  <b-icon icon="menu-down"></b-icon>
              </button>
              <b-dropdown-item>Action</b-dropdown-item>
              <b-dropdown-item>Another action</b-dropdown-item>
              <b-dropdown-item>Something else</b-dropdown-item>
            </b-dropdown>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container is-fluid">
<div class="columns">
<div class="column is-9">
[% with messages = get_flashed_messages() %]
[% if messages %]
<article class="message is-success">
<ul class="message-body">
[% for message in messages %]
  <li>[[ message ]]</li>
[% endfor %]
</ul>
</article>
[% endif %]
[% endwith %]

[% block content %][% endblock %]

</div> <!-- /.is-9 -->
<div class="column is-3">
  <aside class="menu">
    <p class="menu-label">[[ _('Member Menu')  ]]</p>
    <ul class="menu-list">
[% if current_user.is_authenticated %]
      <li><a class="navbar-item" href="[[ url_for('member.index') ]]">[[ _('Home') ]]</a></li>
      <li><a class="navbar-item" href="[[ url_for('member.logout') ]]">[[ _('Logout') ]]</a></li>
[% else %]
      <li><a class="navbar-item" href="[[ url_for('member.login') ]]">[[ _('Login') ]]</a></li>
[% endif %]
    </ul>
    <p class="menu-label">[[ _('Site Menu')  ]]</p>
    <ul class="menu-list">
      <li><a class="navbar-item" href="[[ url_for('site.index') ]]">[[ _('Top') ]]</a></li>
      <li><a class="navbar-item" href="[[ url_for('site.members') ]]">[[ _('Members') ]]</a></li>
    </ul>
  </aside>
</div> <!-- /.column .is-3 -->
</div> <!-- /.columns -->
</div> <!-- /.container -->

<footer class="footer">
<div class="container is-fluid">
  <div class="content has-text-centered">
    <p>
      <strong>Flaskbird</strong> by <a href="https://github.com/uzura8/flaskbird">Uzura Labs</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</div>
</footer>
</div>

<script src="[[ url_static('js/vendor.js') ]]"></script>
[% if not use_vue_on_child %]
<script src="[[ url_static('js/default.js') ]]"></script>
[% endif %]

[% block footer_script %][% endblock %]
</body>
</html>



