<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if title %}
  <title>{{ title }} | microblog</title>
  {% else %}
  <title>microblog</title>
  {% endif %}
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="{{ url_static('css/bulma_custom.css') }}">
    <link rel="shortcut icon" href="">
</head>
<body>
<header>
<nav class="navbar is-fixed-top is-light">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" href="{{ url_for('site.index') }}">
        Microblog
      </a>
      <div class="navbar-burger burger" data-target="nav-head-global">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" id="nav-head-global">
      <div class="navbar-end">
        <a class="navbar-item" href="{{ url_for('site.index') }}">{{ _('Top') }}</a>
        <a class="navbar-item" href="{{ url_for('site.members') }}">{{ _('Members') }}</a>
{% if current_user.is_authenticated %}
        <a class="navbar-item" href="{{ url_for('member.index') }}">{{ _('Home') }}</a>
        <a class="navbar-item" href="{{ url_for('member.logout') }}">{{ _('Logout') }}</a>
{% else %}
        <a class="navbar-item" href="{{ url_for('member.login') }}">{{ _('Login') }}</a>
{% endif %}
      </div>
    </div>
  </div>
</nav>
</header>

<main class="container is-fluid">
<div class="columns">
<div class="column">
{% with messages = get_flashed_messages() %}
{% if messages %}
<article class="message is-success">
<ul class="message-body">
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
</article>
{% endif %}
{% endwith %}

{% block content %}{% endblock %}

</div>
<div class="submenu column is-3">
</div>
</div>
</main>

<footer class="footer">
<div class="container">
  <div class="content has-text-centered">
    <p>
      <strong>Flaskbird</strong> by <a href="https://github.com/uzura8/flaskbird">Uzura Labs</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</div>
</footer>

<script>
document.addEventListener('DOMContentLoaded', function () {
  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {
    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {
        // Get the target from the "data-target" attribute
        var target = $el.dataset.target;
        var $target = document.getElementById(target);
        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
});
</script>
{% block footer_script %}{% endblock %}
</body>
</html>



