[% extends "base.html" %]

[% block content %]
<router-view></router-view>
[% endblock %]

[% set use_vue_on_child = True %]
[% block footer_script %]
<script type="x-template" id="member-list">
<div>
  <b-loading :is-full-page="true" :active.sync="isLoading"></b-loading>
  <h1 class="title">{{ $t("message['Members']") }}</h1>
  <div v-if="error" class="error">
    {{ error }}
  </div>
  <div class="p-member-list">
    <article class="media" v-for="member in members" :key="member.id">
      <figure class="media-left">
        <p class="image is-64x64">
          <router-link :to="'/members/' + member.id"><img :src="mediaUri(member.file_name, '200x200xc')"></router-link>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><router-link :to="'/members/' + member.id">{{ member.name }}</router-link></strong>
            <br>
            {{ member.self_introduction }}
          </p>
        </div>
        <aside>
          <dl class="is-size-7 c-horizontal">
            <dt>[[ _('Registered at') ]]</dt>
              <dd>{{ member.created_at | moment }}</dd>
            <dt v-if="member.last_login">[[ _('Last Login') ]]</dt>
              <dd v-if="member.last_login">{{ member.last_login | moment }}</dd>
          </dl>
        </aside>
      </div>
    </article>
  </div>
  <router-view></router-view>
</div>
</script>

<script type="x-template" id="member-detail">
<div class="member"> 
<b-loading :is-full-page="true" :active.sync="isLoading"></b-loading>
<h1 class="title">{{ $t('message["{name}\'s Page"]', {name: member.name}) }}</h1>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img :src="mediaUri(member.file_name, '200x200xc')">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <div>
        <strong>{{ member.name }}</strong><br>
        <p v-if="member.self_introduction">{{ member.self_introduction }}</p>
        <small v-if="member.last_access">{{ $t('message["Last seen on"]') }}: {{ member.last_access | moment}}</small>
      </div>
      <p v-if="member.id == currentUser.id"><a :href="siteUri('member/edit_profile')"><i class="fas fa-edit"></i>{{ $t('message["Edit your profile"]') }}</a></p>
      <p v-if="member.id == currentUser.id"><a :href="siteUri('member/profile/photos')"><i class="fas fa-edit"></i>{{ $t('message["Edit your profile photo"]') }}</a></p>
    </div>
  </div>
</article>
<router-link :to="'/members/' + $route.params.memberId + '/profile'">ユーザーのプロフィールページを見る</router-link>
<router-link :to="'/members/' + $route.params.memberId + '/posts'">ユーザーの投稿ページを見る</router-link>
  <router-view></router-view>
</div>
</script>
<script src="[[ url_static('js/members.js')  ]]"></script>
[% endblock %]
